rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow anyone to read files. This is necessary for others
    // to view the video thumbnails and play the videos.
    match /{allPaths=**} {
      allow read;
    }

    // Allow uploads (write) only for authenticated users.
    match /uploads/{userId}/{allPaths=**} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /shorts/{userId}/{allPaths=**} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /videos/{userId}/{allPaths=**} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /thumbnails/{userId}/{allPaths=**} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /posters/{userId}/{allPaths=**} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    
    // Required rule for user whiteboard/moodboard image uploads
    match /users/{userId}/{allPaths=**} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Required rule for user avatar uploads
    match /avatars/{userId} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /avatars/{userId}/{allPaths=**} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}